# .env.example
MONGODB_URI=mongodb+srv://christianinyekaka_db_user:KoeJkviyHKRHsCy7@cluster0.b6ubtj3.mongodb.net/church?retryWrites=true&w=majority
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
ADMIN_PASSWORD=admin123
